---
import { menuItems } from 'src/shared/const/menu-items';
import Container from '../../shared/ui/Container.astro';
---

<Container>
	<div
		class='ml-auto hidden text-lg w-full items-start justify-end gap-10 md:flex lg:items-center'>
		{
			menuItems.map(item => (
				<a
					data-astro-reload={item.href === '/' ? true : false}
					class='hover:underline text-xl'
					href={item.href}>
					{item.lable}
				</a>
			))
		}
	</div>
</Container>
