---
import { clsx } from 'clsx';
type Props = {
	align?: 'center' | 'start' | 'end';
	justify?: 'center' | 'start' | 'end' | 'between';
	direction?: 'col' | 'row';
	adaptive?: boolean;
	children?: any;
	className?: string;
	gap?: number;
};

const {
	adaptive = true,
	direction = 'col',
	align = 'center',
	justify = 'center',
	gap = 4,
	className,
}: Props = Astro.props;
---

<div
	class={clsx(
		`flex justify-${justify} items-${align} gap-${gap}`,
		adaptive ? 'flex-col md:flex-row' : 'flex-' + direction,
		className
	)}>
	<slot />
</div>
