---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../shared/ui/Container.astro';
import Section from '../../shared/ui/Section.astro';

const data = await getCollection('tech-page')

const technologies = await getCollection('technologies')

console.log('data', data)
console.log('technologies', technologies)

---

<Layout title=''>
	<Section>
		<Container>
			<h1>Technologies</h1>
		</Container>
	</Section>
</Layout>
