---
import { Image } from 'astro:assets';

const { title, descriprion, image } = Astro.props;
---

<div class='w-full  h-full'>
	<h3>{title}</h3>
	{image && <Image
		src={image}
		alt={title}
		height={150}
		width={150}
	/>}
<div class="w-full bg-primary-bg ">
	<slot/>
</div>
</div>
