---
import '@splidejs/splide/css';
import { Image } from 'astro:assets';

type Props = { slides: { entry: { title: string; icon: string }; slug: string }[] };

const { slides } = Astro.props;
---

<section class='splide w-screen'>
	<div class='splide__track'>
		<ul class='splide__list'>
			{
				slides.map(slide => (
					<li class='splide__slide h-24 w-24 md:h-32 md:w-32'>
						<div class='aspect-square rounded-lg h-full hover:bg-gray-500 bg-gray-800'>
							<a
								href={`/technologies/${slide.slug}`}
								class='w-full h-full mx-auto p-1.5 md:p-4 flex flex-col'>
								<Image
									loading='eager'
									width={'1000'}
									height={'1000'}
									src={slide.entry.icon}
									alt={slide.entry.title}
									class='object-center px-4 w-full h-full mx-auto rounded-lg'
								/>
								<p class='text-center text-sm md:text-base'>{slide.entry.title}</p>
							</a>
						</div>
					</li>
				))
			}
		</ul>
	</div>
</section>
<script>
	import Splide from '@splidejs/splide';
	import { AutoScroll } from '@splidejs/splide-extension-auto-scroll';
	let numSlides = 3;

	const slider = new Splide('.splide', {
		autoScroll: {
			speed: 1,
		},
		pagination: false,
		arrows: false,
		type: 'loop',
		perPage: numSlides,
	});
	// slider.Components.Arrows.destroy()
	slider.mount({ AutoScroll });
	function adjustSlidesNum() {
		slider.options.perPage;
		if (window.innerWidth <= 380) {
			slider.options.perPage = 2;
		}
		if (window.innerWidth > 380) {
			slider.options.perPage = 3;
		}
		if (window.innerWidth > 640) {
			slider.options.perPage = 4;
		}
		if (window.innerWidth > 940) {
			slider.options.perPage = 6;
		}
		if (window.innerWidth > 1280) {
			slider.options.perPage = 8;
		}
	}
	adjustSlidesNum();
	window.addEventListener('resize', adjustSlidesNum);
	window.addEventListener('DOMContentLoaded', adjustSlidesNum);
</script>
